.navbar{
    display: flex;
    max-width: 20vw;
    height: 100vh;
    flex-direction: column;
    color: #dedede;
    background-color: #131313;
    padding: 30px;
    gap: 25px
}

.navbar> .navbar__navbar-item{
    display: flex;
    align-items: center;
    width: 15vw;
    justify-content: left;
}

.navbar> .navbar__navbar-item > a {
    text-decoration: none;
    color: #dedede;
    font-size: 15px;
    font-weight: 600;
}

.navbar > .navbar__navbar-item > a:hover{
    color: #5cc35c;
    cursor: pointer;
}

.navbar > div > img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.navbar__line{
    margin-top: 5px;
    border-bottom: #6f6f6f 1px solid;
}
.navbar__playlist{
    display: flex;
    flex-direction: column;
    margin-top: 5px;
    gap: 20px;
}

.navbar__playlist > div > a{
    font-size: 13px;
    margin-right: auto;
    color: #dedede;
    text-decoration: none;
}

.navbar__playlist > div > a:hover{
    color: #ffffff;
    cursor: pointer;
}